<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESUITES</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/logo.png" class="logo">
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Bedroom</a></li>
                <li><a href="#">Dining</a></li>
                <li><a href="#">Kitchen</a></li>
                <li><a href="#">Restroom</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>DESIGN YOUR HOUSE</h1>
            <p>Make your house your comfort zone today with <strong>DESUITES</strong>,<br> press the bell button to subscribe for updates</p>
            <div>
                <button type="button"><span></span>Interior Designs</button>
                <button type="button"><span></span>Subscribe</button>
            </div>
        </div>
    </div>
    
</body>
</html>